<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.braingroom.user">

    <uses-sdk
        android:minSdkVersion="16"
        tools:overrideLibrary="com.facebook.shimmer" />

    <meta-data
        android:name="android.support.VERSION"
        android:value="27.0.1" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".UserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:replace="android:allowBackup,android:theme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="daf5ece1b04b791eaebc08ac2106413d127a80f7" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_SN4tYAqDnzHHem" />
<!--           <meta-data
               android:name="com.razorpay.ApiKey"
               android:value="rzp_test_OqXUgMZBz4WkBL" />-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="android.support.VERSION"
            android:value="2.0.1" />

        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_live_key" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="@string/branch_test_key" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notifications_64px" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name=".FCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCMInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.Index"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="branchsters" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            &lt;!&ndash; AppLink config &ndash;&gt;
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://ht5w.app.link"
                    android:scheme="https" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar.NoActionBar" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.FeaturedPostActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".view.activity.ClassListActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.SearchActivity" />
        </activity>
        <activity
            android:name=".view.activity.ClassDetailActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.ClassSimpleListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <!-- Edited By Vikas Godara -->
        <activity
            android:name=".view.activity.ProfileActivity"
            android:label="@string/screen_profile"
            android:parentActivityName=".view.activity.ProfileDisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.ProfileDisplayActivity" />
        </activity>
        <activity
            android:name=".view.activity.ProfileDisplayActivity"
            android:label="@string/screen_profile"
            android:parentActivityName=".view.activity.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <!-- Edited By Vikas Godara -->
        <activity android:name=".view.activity.RazorpayActivity" />
        <activity
            android:name=".view.activity.ExploreActivity"
            android:label="@string/screen_explore"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <!-- Edited By Vikas Godara -->
        <activity
            android:name=".view.activity.FilterActivity"
            android:label="@string/screen_filter"
            android:parentActivityName=".view.activity.ClassListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.ClassListActivity" />
        </activity>
        <activity
            android:name=".view.activity.FAQActivity"
            android:label="FAQ">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <!-- Edited By Vikas Godara -->
        <activity
            android:name=".view.activity.VendorProfileActivity"
            android:label="@string/screen_vendor_profile"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.CheckoutActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.ClassDetailActivity" />
        </activity>
        <activity
            android:name=".view.activity.ConnectHomeActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar.NoActionBar" />
        <activity
            android:name=".view.activity.SignupActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.SignUpActivityCompetition"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.TermsConditionActivity"
            android:label="     Terms &amp; Condition">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.ContactUsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.ChangePasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.MessageActivity"
            android:label="@string/screen_message">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.NotificationActivity"
            android:label="@string/screen_notification">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.MessagesThreadActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.MessageActivity" />
        </activity>
        <activity android:name=".view.activity.PostDetailActivity" />
        <activity
            android:name=".view.activity.ThirdPartyViewActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.CatalogueHomeActivity"
            android:label="@string/screen_catalogue">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.GiftcardCouponActivity"
            android:label="@string/screen_giftcoupons">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.CouponFormActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.GiftcardCouponActivity" />
        </activity>
        <activity
            android:name=".view.activity.NgoFormActivity"
            android:label="@string/screen_ngo_form"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.GiftcardCouponActivity" />
        </activity>
        <activity
            android:name=".view.activity.PaySuccessActivity"
            android:label="Successful"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.GiftcardCouponActivity" />
        </activity>
        <activity
            android:name=".view.activity.CompetitionWebPage"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.SegmentListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.CommunityListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.ConnectSectionListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>
        <activity android:name=".view.activity.CatalogueCheckOutActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.HomeActivity" />
        </activity>

        <!-- Facebook Login -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.QRCodeReaderActivity" />
        <!-- <activity android:name=".view.activity.ChatActivity"></activity> -->
        <activity
            android:name=".view.activity.FullscreenImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_image"
            android:parentActivityName=".view.activity.PostDetailActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.braingroom.user.view.activity.PostDetailActivity" />
        </activity>
        <activity
            android:name=".view.activity.Splash"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="branchsters" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="www.braingroom.com"
                    android:pathPrefix="/" />
            </intent-filter>

            <!-- AppLink config -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="https://ht5w.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <!-- Facebook Login -->


        <!-- Branch install referrer tracking -->
        <!-- io.branch.referral.InstallListener -->
        <!--
            <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        -->


        <!-- SMS Receiver -->
        <receiver android:name=".utils.SmsReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <!--Google analytics -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            android:permission="">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
    </application>


</manifest>